
<% if Date.today.tuesday? %>
  <h1 style='color: red'>My First sinatra</h1>
  <p>Fecha: <%= Date.today %> - Publicador por: <%= @name %></p>
<% end %>

<img src="/images/image.jpg" alt="Imagen mu chula de un caballo homosexuá">