<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sessions Test</title>
</head>
<body>
  <p>Print saved value <span style="color: red"><%= @show_session %></span></p>
</body>
</html>